<ion-view view-title="About">  
<ion-content>  
<div class="item item-text-wrap"
<div class="item item-divider">
<H1 style="text-align:center">This app is built for CF patients.</H1>
</div>
<div class="item item-divider">
<p></p>
<p></p>
<p style="text-align:center">Developed by: Mohamed Maumoon</p>
<p></p>
<p></p>
<p style="text-align:center">Platform: Ionic 1 and Angular</p>
<p></p>
<p></p>
<p style="text-align:center">Completed on: 18/12/2016</p>
<p></p>
<p></p>
</div>
<p></p>
<p style="text-align:center">All materials and text taken from : www.cff.org</p>
<div class="item item-divider">
<p style="text-align:center">Thanks for using</p>
</div>
</div>
</ion-content>
</ion-view>