<ion-view view-title="Contacts">
<ion-content>
<div class="list card">
<div class="item item-divider">
    Doctors
  </div>
  <!--<a href="#" class="item item-icon-left">
    <i class="icon ion-person"></i>
    Dr.Adam david
  </a>-->

<a class="item item-icon-left">
    <i class="icon ion-person"></i>
    Dr.Adam David
  </a>
<a class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>960+7654321</a>
        <a href="tel:+1-1800-555-5555" class="button button-positive button-full">Press to call</a>

  <div class="item item-divider">

  </div>
<a class="item item-icon-left">
    <i class="icon ion-person"></i>
    Dr.David Son
  </a>
<a class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>960+6654521</a>
      <a href="tel:+1-1800-555-5555" class="button button-positive button-full">Press to call</a>

<div class="item item-divider">
    Clinics
  </div>
<a class="item item-icon-left">
    <i class="icon ion-medkit"></i>
    CF Clinic
  </a>
<a class="item item-icon-left">
    <i class="icon ion-card"></i>
    Male', Maldives'
  </a>
  <a href="tel:+1-1800-555-5555" class="button button-positive button-full">Press to call</a>
</div>
</ion-content>
</ion-view>