<ion-view view-title="What to Expect">  
<ion-content>
<div class="card">
<div class="item item-body">
Cystic fibrosis symptoms can differ widely from person to person. 
<p></p>
<img class="full-image" src="/img/carrier.jpg">
<p></p>
<p></p>Many different factors, such as age of diagnosis, can affect an individual's health and the course of the disease.
<img class="full-image" src="/img/dna.jpg">
<p></p>People with cystic fibrosis are at greater risk of getting lung infections because thick, sticky mucus builds up in their lungs, allowing germs to thrive and multiply. 
<p></p>Lung infections, caused mostly by bacteria, are a serious and chronic problem for many people living with the disease. Minimizing contact with germs is a top concern for people with CF.<p></p>
<img class="full-image" src="/img/oxygen.jpg">
<p></p>The buildup of mucus in the pancreas can also stop the absorption of food and key nutrients, resulting in malnutrition and poor growth. 
<p></p>In the liver, the thick mucus can block the bile duct, causing liver disease. In men, CF can affect their ability to have children.
Breakthrough treatments have added years to the lives of people with cystic fibrosis.
<p></p>
<img style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;"img class="full-image" src="/img/adult.jpg">
<p></p>Today the median predicted survival age is close to 40.This is a dramatic improvement from the 1950s, when a child with CF rarely lived long enough to attend elementary school.
<p></p>Because of tremendous advancements in research and care, many people with CF are living long enough to realize their dreams of attending college, pursuing careers, getting married and having kids.
<p></p>While there has been significant progress in treating this disease, there is still no cure and too many lives are cut far too short.
</div>
</div>
</ion-content>
</ion-view>