<ion-view view-title="Information">
<ion-content>
    <!--
<style> 
.flex-container {
    text-align: center;
    padding: 1px;
    background: #E6E6FA;
}
</style>
<div class="flex-container">
    -->
<img style="width:100%; height:100%;" src="/img/lungs.jpg">
<ion-list>
<div class="list card">   
<ion-item class="item-icon-left" menu-close href="#/what"><i class="icon ion-ios-pulse-strong positive"></i>What is CF?</ion-item>
<ion-item class="item-icon-left" menu-close href="#/symptoms"><i class="icon ion-ios-analytics-outline calm"></i>Symptoms of CF</ion-item>
<ion-item class="item-icon-left" menu-close href="#/diagnosis"><i class="icon ion-ios-bolt assertive"></i>Diagnosis</ion-item>
<ion-item class="item-icon-left" menu-close href="#/expect"><i class="icon ion-ios-flame-outline energized"></i>What to expect</ion-item>
<ion-item class="item-icon-left" menu-close href="#/therapies"><i class="icon ion-ios-infinite-outline assertive"></i>Therapies</ion-item>
<ion-item class="item-icon-left" menu-close href="#/nutrition"><i class="icon ion-leaf balanced"></i>Nutrition</ion-item>
<ion-item class="item-icon-left" menu-close href="#/research"><i class="icon ion-ios-color-filter-outline royal"></i>Research</ion-item>
<ion-item class="item-icon-left" menu-close href="#/researchPg"><i class="icon ion-ios-flask-outline dark"></i>Research programs</ion-item>
</div>
</ion-list>
</ion-content>
</ion-view>