<ion-view view-title="Information">
<ion-content >
<img style="width:100%; height:100%;" src="/img/lungs.jpg">
<div class="padding">
<a class="button button-positive button-full" menu-close href="#/what"><i class="icon ion-ios-pulse-strong light"></i> What is CF?</a>
<a class="button button-calm button-full" menu-close href="#/symptoms"><i class="icon ion-ios-analytics-outline light"></i> Symptoms</a>
<a class="button button-royal button-full" menu-close href="#/diagnosis"><i class="icon ion-ios-bolt light"></i> Diagnosis</a>
<a class="button button-energized button-full" menu-close href="#/expect"><i class="icon ion-ios-flame-outline light"></i> What to expect</a>
<a class="button button-assertive button-full" menu-close href="#/therapies"><i class="icon ion-ios-infinite-outline light"></i> Therapies</a>
<a class="button button-balanced button-full" menu-close href="#/nutrition"><i class="icon ion-leaf light"></i> Nutrition</a>
<a class="button button-royal button-full" menu-close href="#/research"><i class="icon ion-ios-color-filter-outline calm"></i> Research</a>
<a class="button button-dark button-full" menu-close href="#/researchPg"><i class="icon ion-ios-flask-outline balanced"></i> Research programs</a>
</div>
</ion-content>
</ion-view>