<ion-view view-title="Nutrition">  
<ion-content>
<div class="card">
<div class="item item-body">
  <img class="full-image" src="/img/baby1.jpg">
Energy needs of people with CF are estimated to be 1 ½ to 2 times the needs of those without CF. A high-calorie, high-fat diet, with 40 percent of total calories from fat is generally recommended.
<p></p>
<img class="full-image" src="/img/baby3.jpg">
There is no one specific recommended method to determine energy needs. The goal is usually sustained weight gain and growth in children and teens, and weight gain or maintenance for adults.
<img class="full-image" src="/img/eating1.jpg">
<p></p>Your Body Mass Index
<p></p>
Just how much should you weigh? That answer will vary, largely depending on your current weight, your height and the nutritional goals that you and your care team set for your health.
<p></p>
<img class="full-image" src="/img/chart.png">
To track weight relative to height in individuals with CF, your care team uses different measurements:
<p></p>
    Weight-for-length for children under age 2
    Body Mass Index (BMI) percentiles for those ages 2 to 20 (because height fluctuates so much)
    A numerical BMI for people over age 20
<p></p>
<img class="full-image" src="/img/bmi.jpg">
BMI is calculated by dividing your body weight in kilograms (kg) by your height in meters squared (m2). Calculate your BMI with this online BMI calculator from the Centers for Disease Control and Prevention (CDC). You can also ask your CF care team about your BMI during your next visit.
<p></p>
    The CF Foundation recommends that women maintain a BMI of at least 22 and men, a BMI of at least 23. For people under age 21, BMI should be at or above the 50th percentile on the CDC growth chart.
<p></p>
Nutritional Supplement
<img class="full-image" src="/img/nutr.jpg">
<p></p>
High-calorie supplements can be used to boost calories, but they shouldn't be used to replace meals. Instead, nutritional supplements should be taken along with a meal or as a substitute for a lower-calorie snack.
<p></p>
<img class="full-image" src="/img/nutr1.jpg">
Nutritional supplements come in a variety of forms. You can get flavored powders that you can mix with milk, ready-made milk-based shakes, and high-calorie and high-protein juices. You also can get individual fat, carbohydrate or protein powders that you can mix into drinks. Talk to your CF dietitian about the right choice for you.
<p></p>
</div>
</div>
</ion-content>
</ion-view>
