<ion-view view-title="Research">  
<ion-content>
<div class="card">
<div class="item item-body">
    <img class="full-image" src="/img/infographic.jpg">
When a group of parents started the Cystic Fibrosis Foundation in 1955, they set their sights high to advance understanding of this little-known disease, to create new treatments and specialized care for their children, and to find a cure.
<p></p>
<img class="full-image" src="/img/xray.jpg">
<p></p>The CF Foundation has carried these goals forward and is working tirelessly to find lifesaving new therapies, and one day, a lifelong cure for all people living with this devastating disease.
<p></p>In 1980, the CF Foundation created the Research Development Program, a dynamic interdisciplinary research center network to accelerate much-needed understanding of CF and the complexities of the disease. 
<p></p>
<img class="full-image" src="/img/research.jpg">
<p></p>This network of pooled talent, with funding from the CF Foundation, contributed to the original discovery of the CF gene in 1989 -- the single most important discovery in CF research.
<p></p>In the late 1990s, the CF Foundation established key programs to help speed development of CF therapies, including a national network of centers designed to conduct clinical trials. 
<p></p>
<img style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;"img class="full-image" src="/img/consider.jpg">
<p></p>Sharing data, and a therapeutics development program to support and govern research collaborations with biotech and pharmaceutical companies.
<p></p>
<img class="full-image" src="/img/research1.jpg">
<p></p>By pursuing these bold strategies and others, the CF Foundation has built a robust pipeline of potential new therapies that fight the disease from every angle. 
<p></p>And, nearly every CF drug available today was made possible because of Foundation support -- including therapies to treat the underlying cause of the disease.
</div></div>
</ion-content>
</ion-view>