<ion-view view-title="Resources">  
<ion-content>
<div class="list card">
<div class="padding">
<div class="item item-divider">
<h3>Online sites</h3> 
<h6><a href="http://www.cff.org">www.cff.org</a></h6>
<h6><a href="http://www.cysticfibrosis.ca">www.cysticfibrosis.ca</a></h6>
<h6><a href="http://www.cfnz.org.nz">www.cfnz.org.nz</a></h6>
<h6><a href="http://www.cfireland.ie">www.cfireland.ie</a></h6>
<h6><a href="http://www.cfww.org">www.cfww.org</a></h6>
</div>
</div>
</div>
<div class="item item-divider">
<h2>Online videos</h2> 
</div>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/FMAOEOmLoUE" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/LItSsVJPQEY" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/4xxT5gQywpkE" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/wabXl8cLSXk" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/o8jwDtrxusck" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
<a>
<div class="row">
<div class="col">
<div class="video-container">
<iframe src="http://www.youtube.com/embed/tWWpPAXFEFs" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</a>
</ion-content>
</ion-view>