<ion-view view-title="Symptoms">  
<ion-content>
<div class="card">
<div class="item item-body">
<img class="full-image" src="/img/gavin.jpg">
Cystic fibrosis is a progressive, genetic disease that causes persistent lung infections and limits the ability to breathe over time.
<p></p>
<img class="full-image" src="/img/inlung.jpg">
In people with CF, a defective gene causes a thick, buildup of mucus in the lungs, pancreas and other organs. In the lungs, the mucus clogs the airways and traps bacteria leading to infections, extensive lung damage and eventually, respiratory failure.
<p></p>
<img class="full-image" src="/img/lung3.jpg">
In the pancreas, the mucus prevents the release of digestive enzymes that allow the body to break down food and absorb vital nutrients. 
</div>
</div>
</ion-content>
</ion-view>