<ion-view view-title="Therapies">  
<ion-content>
<div class="card">
<div class="item item-body">
Each day, people with CF complete a combination of the following therapies:
Airway clearance to help loosen and get rid of the thick mucus that can build up in the lungs. 
<img class="full-image" src="/img/child2.jpg">
<p></p>Some airway clearance techniques require help from family members, friends or respiratory therapists. 
<p></p>Many people with CF use an inflatable vest that vibrates the chest at a high frequency to help loosen and thin mucus.
<p></p>
<img style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;"img class="full-image" src="/img/hands.jpg">
Inhaled medicines to open the airways or thin the mucus. These are liquid medicines that are made into a mist or aerosol and then inhaled through a nebulizer. 
<p></p>These medicines include antibiotics to fight lung infections and therapies to help keep the airways clear.
<img class="full-image" src="/img/boy.jpg">
<p></p>Pancreatic enzyme supplement capsules to improve the absorption of vital nutrients. These supplements are taken with every meal and most snacks. People with CF also usually take multivitamins.  
<p></p>
<img class="full-image" src="/img/germs.jpg">
<p></p>
The CF Foundation supports research to discover and develop new CF treatments and maintains a pipeline of potential therapies that target the disease from every angle. 
<p></p>
In 2015, the FDA approved the second drug to treat the root cause of cystic fibrosis, a defective protein known as CFTR. The first drug targeting the basic genetic defect in CF was approved in 2012. 
<img class="full-image" src="/img/girl.jpg">
<p></p>The arrival of this group of drugs, called CFTR modulators, signals a historic breakthrough in how CF is treated. It's expected that CFTR modulators could add decades of life for some people with CF.
<p></p>
Today, the Foundation is focused on developing lifesaving new therapies for larger numbers of people with CF and pursuing daring, new opportunities to one day develop a lifelong cure. 
</div>
</div>
</ion-content>
</ion-view>