<ion-view view-title="What Is Cystic Fibrosis?">  
<ion-content>
<div class="card">
<div class="item item-body">
<img class="full-image" src="/img/amy.jpg">
<p></p>Cystic fibrosis is a progressive, genetic disease that causes persistent lung infections and limits the ability to breathe over time.
<img class="full-image" src="/img/cf.jpg">
In people with CF, a defective gene causes a thick, buildup of mucus in the lungs, pancreas and other organs. 
<p></p>
<img class="full-image" src="/img/manifestations.jpg">
<p></p>In the lungs, the mucus clogs the airways and traps bacteria leading to infections, extensive lung damage and eventually, respiratory failure. 
<img class="full-image" src="/img/inlung.jpg">
<p></p>In the pancreas, the mucus prevents the release of digestive enzymes that allow the body to break down food and absorb vital nutrients. 
<img style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%;"img class="full-image" src="/img/genetics.jpg">
</div>
</div>
</ion-content>
</ion-view>